<div x-data="" class="product-item_component">{% capture variantcolors %}{% for variant in product.variants %}{% if variant.metafields.custom.farbe.value.mehrfarbig != blank %}{% for mehrfarbig in variant.metafields.custom.farbe.value.mehrfarbig.value %}{{ mehrfarbig }}-{% endfor %}{% else %}{{-variant.metafields.custom.farbe.value.farbe-}}{% endif %},{% endfor %}{% endcapture %}
{% assign variantcolor = variantcolors | split: ',' | uniq %}
<div class="product-item_image-link"><div class="product-item_color-swatches"><a li-object:href="product.url | within: collection" href="{{ product.url | within: collection }}" class="product-item_image-wrapper w-inline-block">{% if product.selected_or_first_available_variant.image != blank %}    <div li-if="product.selected_or_first_available_variant.image != blank">
    <img li-object:alt="product.selected_or_first_available_variant.image.alt" loading="eager" li-object:src="product.selected_or_first_available_variant.image | img_url: 'large'" src="{{ product.selected_or_first_available_variant.image | img_url: 'large' }}" alt="{{ product.selected_or_first_available_variant.image.alt }}" class="product-item_image is-darken">
    </div>
{% endif %}{% if product.selected_or_first_available_variant.image == blank %}    <div li-if="product.selected_or_first_available_variant.image == blank">
    <img li-object:alt="product.featured_image.alt" loading="eager" li-object:src="product.featured_image | img_url: 'large'" src="{{ product.featured_image | img_url: 'large' }}" alt="{{ product.featured_image.alt }}" class="product-item_image is-darken">
    </div>
{% endif %}</a></div><div class="product-item_tag_list">{% if product.selected_or_first_available_variant.available != true %}    <div li-if="product.selected_or_first_available_variant.available != true" class="product-item_tag">
    Ausverkauft    </div>
{% endif %}{% if product.metafields.custom.produkt_tag != blank %}    <div li-if="product.metafields.custom.produkt_tag != blank">
    <div li-object="product.metafields.custom.produkt_tag" class="product-item_tag">{{ product.metafields.custom.produkt_tag }}</div>    </div>
{% endif %}{% if product.compare_at_price_max > product.price %}    <div li-if="product.compare_at_price_max > product.price" class="product-item_tag is-red">
    Spare bis zu <span li-object="product.compare_at_price_max | minus: product.price | times: 100 | divided_by: product.compare_at_price_max">{{ product.compare_at_price_max | minus: product.price | times: 100 | divided_by: product.compare_at_price_max }}</span>%    </div>
{% endif %}</div></div><div li-for:inside="item in variantcolor" class="product-item_swatch-wrapper">
        {% for item in variantcolor %}                            {% assign multicolor = item | split: '-' %}

                            <a li-object:href="product.url | within: collection" x-bind:style="{% if multicolor.size == 1 %}{'background-color': '{{ item }}'{% else %}{% assign colorCount = multicolor | size %} {% assign degree = 360 | divided_by: colorCount %} {% assign maxDegree = 0 %}{background: 'conic-gradient({% for mehrfarbig in multicolor %}{% assign newdegree = degree | times: forloop.index  %}{{ mehrfarbig }} {{ maxDegree | plus: degree }}deg {{ maxDegree | plus: newdegree }}deg{% if forloop.last != true %},{% endif %}{% endfor %})'{% endif %}}" href="{{ product.url | within: collection }}" class="product-item_color-swatch w-inline-block"></a>
                            
                    {% endfor %}    </div>
<div class="spacer-xxsmall"></div><a li-object:href="product.url | within: collection" href="{{ product.url | within: collection }}" class="product-item_text-link w-inline-block"><div class="product-item_left"><div class="product_reviews"><div id="judgeme_product_reviews" data-product-title="{{ product.title | escape }}" data-id="{{ product.id }}" data-auto-install="false" li-object="product.metafields.judgeme.badge" class="text-size-small">{{ product.metafields.judgeme.badge }}</div><div li-object="product.vendor" class="text-size-small">{{ product.vendor }}</div></div><div class="heading-style-h4 text-weight-normal"><span li-object="product.title">{{ product.title }}</span></div></div><div class="product-item_price">{% if product.compare_at_price_max > product.price %}    <div li-if="product.compare_at_price_max > product.price">
    <div li-object="product.compare_at_price | money" class="text-size-regular text-style-strikethrough text-style-muted">{{ product.compare_at_price | money }}</div>    </div>
{% endif %}<div li-object="product.price | money" class="text-size-regular">{{ product.price | money }}</div></div></a></div>
