<div class="banner_component"><div class="banner_wrapper"><div class="banner_marquee"><div class="banner_text-wrapper"><div class="banner_text">
{{ section.settings.text_banner_1 }}
</div>
</div><div class="banner_text-wrapper"><div class="banner_text">
{{ section.settings.text_banner_2 }}
</div>
</div><div class="banner_text-wrapper"><div class="banner_text">
{{ section.settings.text_banner_3 }}
</div>
</div></div><div class="banner_marquee"><div class="banner_text-wrapper"><div class="banner_text">
{{ section.settings.text_banner_1 }}
</div>
</div><div class="banner_text-wrapper"><div class="banner_text">
{{ section.settings.text_banner_2 }}
</div>
</div><div class="banner_text-wrapper"><div class="banner_text">
{{ section.settings.text_banner_3 }}
</div>
</div></div></div></div> {% schema %} {"tag":"section","name":"banner","class":"section_banner","settings":[{"id":"text_banner_1","type":"text","label":"Banner-1","default":"Relume Library"},{"id":"text_banner_2","type":"text","label":"Banner-2","default":"Relume Library"},{"id":"text_banner_3","type":"text","label":"Banner-3","default":"Relume Library"}],"presets":[{"name":"banner","category":"Liquify","blocks":[]}]} {% endschema %}