<div class="padding-global padding-section-medium"><div class="container-large"><div class="form-cleaned w-form"><form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" data-wf-page-id="674bb6d80f0d0a60dad18db2" data-wf-element-id="16929fbd-66a6-f752-b747-8eac4a837f66"><div class="blog_main_filter"><div class="blog_main_filter-left"><input class="fs-search_field-1 w-input" maxlength="256" name="field" fs-cmsfilter-field="*" data-name="Field" aria-label="add_description_here" placeholder="Artikel durchsuchen" type="text" id="field">
<div data-delay="0" data-hover="false" fs-selectcustom-element="dropdown" data-w-id="2c4f2c21-b8be-9436-b085-def8e6105c5b" class="fs-select-1 w-dropdown"><div class="fs-select_toggle-1 w-dropdown-toggle"><div class="fs-select_icon-1 w-icon-dropdown-toggle"></div><div class="fs-select_text-1">Kategorien</div></div><nav class="fs-select_list-1 w-dropdown-list"><select id="select-field" name="select-field-1" data-name="select field 1" class="fs-select_field-1 w-select"><option value="">Select one...</option><option value="First">First choice</option><option value="Second">Second choice</option><option value="Third">Third choice</option></select><a href="#" class="fs-select_link-1 w-dropdown-link">Select link</a></nav></div></div><div data-delay="0" data-hover="false" fs-selectcustom-element="dropdown" data-w-id="c2f9f39a-f57d-e1d6-fd37-bf8098a477a1" class="fs-select-2 w-dropdown"><div class="fs-select_toggle-2 w-dropdown-toggle"><img loading="lazy" src="{{ 'swap_vert.svg' | asset_url }}" alt="" class="fs-select_link-block-icon-2">
<div>Sortieren nach</div><div class="fs-select_arrow-2 w-icon-dropdown-toggle"></div></div><nav class="fs-select_list-2 w-dropdown-list"><select id="select-field-2" name="select-field-2" data-name="select field 2" class="fs-select_field-2 w-select"><option value="">Select one...</option><option value="First">First choice</option><option value="Second">Second choice</option><option value="Third">Third choice</option></select><a href="#" class="fs-select_link-block-2 w-inline-block"><div class="fs-select_link-block-text-2">Select Link</div></a></nav></div></div></form><div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div><div class="blog_main_component">{% for block in section.blocks %}
    {% if block.type == "blog-teaser-item" %}
                    <div li-block="Blog Teaser Item" id="w-node-_3787d63f-7fbb-d37b-b98e-70e29a380a59-dad18db2" class="blog-teaser_item">
                                    <a href="#" class="blog-teaser_link w-inline-block"><div class="blog-teaser_img-wrapper"><img src="{{ block.settings.image_bild | img_url: 'master' }}" loading="lazy" alt="{{ block.settings.image_bild.alt }}" class="blog-teaser_img">
<div class="blog-teaser_tag">
{{ block.settings.text_step }}
</div>
</div><div class="blog-teaser_bottom"><h3>
{{ block.settings.text_heading }}
</h3>
</div><p class="blog-teaser_p">
{{ block.settings.text_text }}
</p>
</a>
                            </div>
            {% endif %}
{% endfor %}
</div></div></div><img src="{{ 'BG.svg' | asset_url }}" loading="lazy" alt="" class="blog_main_image">
 {% schema %} {"tag":"section","name":"Blog Main","class":"section_blog_main","blocks":[{"name":"Blog Teaser Item","type":"blog-teaser-item","settings":[{"id":"image_bild","type":"image_picker","label":"Bild"},{"id":"text_step","type":"text","label":"Step","default":"<span li-settings:text=\"Category\" class=\"gradient-bar-step\">Step 1<\/span>"},{"id":"text_category","type":"text","label":"Category","default":"Step 1"},{"id":"text_heading","type":"text","label":"Heading","default":"Heading"},{"id":"text_text","type":"text","label":"Text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros."}]}],"presets":[{"name":"Blog Main","category":"Liquify","blocks":[{"type":"blog-teaser-item"}]}]} {% endschema %}