<div class="padding-global padding-section-medium"><div class="container-large"><div class="location_component"><div class="intro-in-section is-on-black"><div class="heading-block"><div class="subheading">
{{ section.settings.text_subheading }}
</div>
<h2 class="heading-style-h2 is-with-gradient">
{{ section.settings.text_heading }}
</h2>
<p>
{{ section.settings.text_text }}
</p>
</div><div class="button-group">{% if  %}    <div li-if="">
    <a href="{{ section.settings.url_button_link }}" class="button w-button"> {{ section.settings.text_button_text }} </a>
    </div>
{% endif %}{% if  %}    <div li-if="">
    <a href="{{ section.settings.url_button_link_2 }}" class="button is-secondary-white w-button"> {{ section.settings.text_button_text_2 }} </a>
    </div>
{% endif %}</div></div><div class="faq_component"><div class="faq_items">{% for block in section.blocks %}
    {% if block.type == "faq" %}
                    <div li-block="FAQ" data-w-id="e14963d5-2465-0cf9-a955-b1a80222405c" class="faq_item is-dark">
                                    <div class="faq_question"><h3 class="heading-style-h5">
{{ block.settings.text_headline }}
</h3>
<div class="faq_icon is-white"><div class="faq_icon-line is-white"></div><div class="faq_icon-line is-vertical is-white"></div></div></div>
                                    <div style="height:0px" class="faq_answer"><div class="faq_answer-wrapper"><div> {{ block.settings.richtext_antwort }} </div>
<div fs-cmsfilter-field="category" class="hide-3">
{{ block.settings.text_kategorie }}
</div>
</div></div>
                                    <div class="li-custom w-embed"></div>

                            </div>
            {% endif %}
{% endfor %}
</div><div class="faq_cta"><img loading="lazy" alt="{{ section.settings.image_cta_image.alt }}" src="{{ section.settings.image_cta_image | img_url: 'master' }}" class="faq_cta-image">
<div class="faq_cta-max-width"><h3 class="heading-style-h4">
{{ section.settings.text_cta_headline }}
</h3>
</div><div><p>
{{ section.settings.text_cta_infos }}
</p>
</div><a href="{{ section.settings.url_cta_button_link }}" class="button max-width-full w-button"> {{ section.settings.text_cta_button_text }} </a>
</div></div></div></div></div> {% schema %} {"tag":"section","name":"FAQ Dark","class":"section_faq background-color-primary","blocks":[{"name":"FAQ","type":"faq","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Frage"},{"id":"richtext_antwort","type":"richtext","label":"Antwort","default":"<p>Yes, you can try us for free for 30 days. If you want, we\u2019ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.<\/p>"},{"id":"text_kategorie","type":"text","label":"Kategorie","default":"This is some text inside of a div block."},{"type":"text","id":"kategorie","label":"Kategorie","default":"Alle FAQs"}]}],"settings":[{"id":"text_subheading","type":"text","label":"Subheading","default":"\/\/ wir sind Rebound racing"},{"id":"text_heading","type":"text","label":"Heading","default":"Top Service f\u00fcr Federgabel <span class=\"gradient-bar-h2\">und noch viel mehr<\/span>"},{"id":"text_text","type":"text","label":"Text","default":"Wir sind deine Experten f\u00fcr Federelemente. Professioneller Service f\u00fcr alle Federgabel- &amp; D\u00e4mpfermarken. Kompetente Beratung, einfache Abwicklung, schnelle Bearbeitung. In unserer Service &amp; Tuning Anfrage kannst du Leistungen individuell kombinieren. Ohne Termin, sofort los!"},{"id":"url_button_link","type":"url","label":"Button-Link"},{"id":"text_button_text","type":"text","label":"Button-Text","default":"Service anfragen"},{"id":"url_button_link_2","type":"url","label":"Button-Link 2"},{"id":"text_button_text_2","type":"text","label":"Button-Text 2","default":"Service anfragen"},{"id":"image_cta_image","type":"image_picker","label":"CTA Image"},{"id":"text_cta_headline","type":"text","label":"CTA Headline","default":"Heading"},{"id":"text_cta_infos","type":"text","label":"CTA Infos","default":"Max Mustermann (Gr\u00fcnder)"},{"id":"url_cta_button_link","type":"url","label":"CTA Button-Link"},{"id":"text_cta_button_text","type":"text","label":"CTA Button-Text","default":"Kontaktiere uns"}],"presets":[{"name":"FAQ Dark","category":"Liquify","blocks":[{"type":"faq"}]}]} {% endschema %}