<div>{% assign has_service_product = false %}
{% assign has_tuning_product = false %}
{% for line_item in cart.items %}  {% if line_item.product.tags contains 'service' %}    {% assign has_service_product = true %}{% assign has_tunig_product = true %}  {% endif %}{% endfor %}
</div>{% if has_service_product and has_tuning_product == false %}    <div li-if="has_service_product and has_tuning_product == false">
    <div class="padding-global padding-section-small"><div class="container-large"><div id="w-node-_7371c754-b39b-e80a-6f94-d88ef8a7baa5-2048041f" class="w-embed"><style>.form-input:focus + .form-label,
  .form-input:not(:placeholder-shown) + .form-label {
    top: 0px;
    font-size: 1rem;
    transform: translateY(-20%);
    opacity: 0.5;
  }
 
</style><style>.form-text-area:focus + .form-label-area,
  .form-text-area:not(:placeholder-shown) + .form-label-area {
    top: 0px;
    font-size: 1rem;
    transform: translateY(-50%);
    opacity: 0.5;
  }
 
</style></div><div class="formular_form w-form"><form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" data-wf-page-id="6732e3a25d39d28b2048041f" data-wf-element-id="7371c754-b39b-e80a-6f94-d88ef8a7baa7"><div class="formular_component"><div id="w-node-_7371c754-b39b-e80a-6f94-d88ef8a7baa9-2048041f" class="formular_left"><div li-content-for-blocks="" class="formular_grid">
{% for block in section.blocks %}
    {% case block.type %}
        {% when '@app' %}
            {% render block %}
    {% when 'headline' %}
            <div li-block="Headline" id="w-node-_78ac9c8f-18bf-7995-3e07-040f29534916-2048041f">
                    <h2 id="w-node-_7371c754-b39b-e80a-6f94-d88ef8a7baab-2048041f" class="heading-style-h4">
{{ block.settings.text_headline }}
</h2>

                </div>
    {% when 'input-text' %}
            <div li-block="Input Text" id="w-node-_9361df8d-6c6a-5cce-9e42-0bb714f5cabd-2048041f">
                    <div id="w-node-_9361df8d-6c6a-5cce-9e42-0bb714f5cabe-2048041f" class="form-group"><input class="form-input w-input" maxlength="256" name="Fahrerergewicht-2" data-name="Fahrerergewicht 2" placeholder=" " type="text" id="Fahrerergewicht-2" required="">
<label for="name" class="form-label">
{{ block.settings.text_input_lable }}
</label>
</div>
                    <div class="padding-bottom padding-xxsmall"></div>
                    <div class="text-size-small">
{{ block.settings.text_beschreibung }}
</div>

                </div>
    {% when 'input-radio' %}
            <div li-block="Input Radio" id="w-node-_006f83ab-4f1e-fbe8-faea-31d8ba123cd3-2048041f">
                    <div id="w-node-_62bb73b8-19ee-17c1-447f-ce3dce6669a0-2048041f" class="form-input-simu"><div class="form-label-simu">
{{ block.settings.text_titel }}
</div>
<div class="formular_radio-wrapper"><label class="fs-radio_field-4 w-radio"><div class="w-form-formradioinput w-form-formradioinput--inputType-custom fs-radio_button-4 w-radio-input"></div><input name="Rennen-fahren" data-name="Rennen fahren" type="radio" id="Ja" style="opacity:0;position:absolute;z-index:-1" value="Ja">
<span fs-cmsfilter-field="category" fs-cmsfilter-active="is-active" class="fs-radio_label-4 w-form-label" for="Ja">
{{ block.settings.text_lable_1 }}
</span>
</label><label class="fs-radio_field-4 is-second w-radio"><div class="w-form-formradioinput w-form-formradioinput--inputType-custom fs-radio_button-4 w-radio-input w--redirected-checked"></div><input name="Rennen-fahren" data-name="Rennen fahren" type="radio" id="Nein" style="opacity:0;position:absolute;z-index:-1" checked="" value="Nein">
<span fs-cmsfilter-field="category" fs-cmsfilter-active="is-active" class="fs-radio_label-4 w-form-label" for="Nein">
{{ block.settings.text_lable_2 }}
</span>
</label></div></div>
                    <div class="padding-bottom padding-xxsmall"></div>
                    <div class="text-size-small">
{{ block.settings.text_beschreibung }}
</div>

                </div>
    {% when 'input-checkbox' %}
            <label li-block="Input Checkbox " id="w-node-_7371c754-b39b-e80a-6f94-d88ef8a7bade-2048041f" class="w-checkbox checkbox-field">
                    <div class="w-checkbox-input w-checkbox-input--inputType-custom formular_checkbox"></div>
                    <input type="checkbox" name="Einsatzgebiet-Alltag-2" id="Einsatzgebiet-Alltag-2" data-name="Einsatzgebiet Alltag 2" style="opacity:0;position:absolute;z-index:-1">

                    <span class="checkbox-label w-form-label" for="Einsatzgebiet-Alltag-2">
{{ block.settings.text_checkbox_lable }}
</span>

                </label>
    {% when 'input-medium-text' %}
            <div li-block="Input Medium Text" id="w-node-_7371c754-b39b-e80a-6f94-d88ef8a7baf2-2048041f" class="form-group">
                    <input class="form-input w-input" maxlength="256" name="Fahrerergewicht-2" data-name="Fahrerergewicht 2" placeholder=" " type="text" id="Fahrerergewicht-2" required="">

                    <label for="name" class="form-label">
{{ block.settings.text_input_lable }}
</label>

                </div>
    {% when 'input-big-text' %}
            <div li-block="Input Big Text" id="w-node-_7371c754-b39b-e80a-6f94-d88ef8a7baf6-2048041f" class="form-group is-area">
                    <textarea class="form-text-area w-input" maxlength="5000" name="Weitere-Informationen-2" data-name="Weitere Informationen 2" placeholder="" id="Weitere-Informationen-2">
</textarea>

                    <label for="field" class="form-label-area">
{{ block.settings.text_input_lable }}
</label>

                </div>
    {% when 'spacer' %}
            <div li-block="Spacer" id="w-node-_8014084c-f4eb-4cd1-66cd-5a3eb88718b9-2048041f" class="spacer-small">
                    
                </div>
    {% when 'trennlinie' %}
            <div li-block="Trennlinie" id="w-node-f65c6f67-af21-ffb5-6a4b-3985afbafb0b-2048041f" class="formular_trenner">
                    
                </div>
        {% endcase %}
{% endfor %}

</div>

<input type="submit" data-wait="Bitte warten..." class="button w-button" value="Absenden und Checkout">
</div><div id="w-node-_7371c754-b39b-e80a-6f94-d88ef8a7bafb-2048041f" class="formular_right"><div class="formular_row"><h2 class="heading-style-h4">Zusammenfassung</h2><ul role="list" class="mini-cart_line-item_list w-list-unstyled"><template x-for="product in products" :key="product.key">
    <li li-element="mini-cart-item" class="mini-cart_line-item_item"><img li-object:src="item.image |  img_url: 'small'" loading="lazy" alt="" src="{{ item.image |  img_url: 'small' }}" class="mini-cart_line-item_img">
<div class="mini-cart_line-item_product-info"><div class="mini-cart_line-item_top"><div class="mini-cart_product-info"><div li-object="item.title" class="text-size-medium text-weight-semibold text-style-allcaps">{{ item.title }}</div><div li-for:inside="name in item.options_with_values" class="mini-cart_line-item_values">
        {% for name in item.options_with_values %}                            <div li-object="name">{{ name }}</div>
                    {% endfor %}    </div>
</div><div class="mini-cart_line-item_price"><div li-object="item.final_line_price | money" class="text-size-medium text-weight-semibold text-style-allcaps">{{ item.final_line_price | money }}</div><template x-if="product.price < product.original_price">
            <div li-js-if="product.price < product.original_price">
        <div li-object="item.original_line_price | money" class="text-size-small text-style-strikethrough text-style-muted">{{ item.original_line_price | money }}</div>        </div>
    </template>
</div></div><div class="mini-cart_line-item_bottom"><div><div class="mini-cart_line-item_quantity"><input name="updates[]" class="mini-cart_line-item_quantity-adjust" value="item.quantity">
</div></div><a li-object:href="item.url_to_remove" href="{{ item.url_to_remove }}" class="w-inline-block"><div class="mini-cart_line-item_remove-icon w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_7404_5310" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="26" height="26"><rect width="26" height="26" fill="currentColor"></rect></mask><g mask="url(#mask0_7404_5310)"><path d="M7.57813 22.75C6.98229 22.75 6.47222 22.5378 6.04792 22.1135C5.62361 21.6892 5.41146 21.1792 5.41146 20.5833V6.5H4.32812V4.33333H9.74479V3.25H16.2448V4.33333H21.6615V6.5H20.5781V20.5833C20.5781 21.1792 20.366 21.6892 19.9417 22.1135C19.5174 22.5378 19.0073 22.75 18.4115 22.75H7.57813ZM18.4115 6.5H7.57813V20.5833H18.4115V6.5ZM9.74479 18.4167H11.9115V8.66667H9.74479V18.4167ZM14.0781 18.4167H16.2448V8.66667H14.0781V18.4167Z" fill="currentColor"></path></g></svg></div></a></div></div></li></template>
</ul></div><div class="formular_total"><div class="mini-cart_footer-total is-top"><div class="text-size-regular">Gesamtkosten</div><div class="mini-cart_footer-price"><div li-js-price="total.price" class="text-size-regular text-weight-bold" x-text="LiquifyHelper.moneyFormat(total.price, true, '{{ shop.money_with_currency_format }}')">14,99 $</div><template x-if="total.price < original_total_price">
            <div li-js-if="total.price < original_total_price" class="mini-cart_conditional">
        <div li-js-price="original_total_price" class="text-size-regular text-weight-bold text-style-strikethrough text-style-muted" x-text="LiquifyHelper.moneyFormat(original_total_price, true, '{{ shop.money_with_currency_format }}')">14,99 $</div>        </div>
    </template>
</div></div><div class="mini-cart_footer-total"><div class="text-size-regular">Versandkosten</div><div class="mini-cart_footer-price"><div class="text-size-regular text-weight-bold">Kostenlos</div></div></div></div><input type="submit" data-wait="Please wait..." class="button is-outline w-button" value="Update cart">
</div></div></form><div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div></div><div class="formular_white-bg"></div>    </div>
{% endif %}{% if has_tuning_product %}    <div li-if="has_tuning_product">
    <div class="padding-global padding-section-small"><div class="container-large"><div id="w-node-_5d57e6ba-40c6-1238-e487-b2607aa855df-2048041f" class="w-embed"><style>.form-input:focus + .form-label,
  .form-input:not(:placeholder-shown) + .form-label {
    top: 0px;
    font-size: 1rem;
    transform: translateY(-20%);
    opacity: 0.5;
  }
 
</style><style>.form-text-area:focus + .form-label-area,
  .form-text-area:not(:placeholder-shown) + .form-label-area {
    top: 0px;
    font-size: 1rem;
    transform: translateY(-50%);
    opacity: 0.5;
  }
 
</style></div><div class="formular_form w-form"><form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" data-wf-page-id="6732e3a25d39d28b2048041f" data-wf-element-id="5d57e6ba-40c6-1238-e487-b2607aa855e1"><div class="formular_component"><div id="w-node-_5d57e6ba-40c6-1238-e487-b2607aa855e3-2048041f" class="formular_left"><div class="formular_row"><h1 class="heading-style-h4">Fahrer</h1><div class="formular_split"><div id="w-node-_5d57e6ba-40c6-1238-e487-b2607aa855e8-2048041f"><div id="w-node-_5d57e6ba-40c6-1238-e487-b2607aa855e9-2048041f" class="form-group"><input class="form-input w-input" maxlength="256" name="Fahrerergewicht-2" data-name="Fahrerergewicht 2" placeholder=" " type="text" id="Fahrerergewicht-2" required="">
<label for="name" class="form-label">Fahrerergewicht*</label></div><div class="padding-bottom padding-xxsmall"></div><div class="text-size-small">*Fahrergewicht inkl. Ausrüstung (kg)</div></div><div id="w-node-_5d57e6ba-40c6-1238-e487-b2607aa855f0-2048041f" class="form-input-simu"><div class="form-label-simu">Ich fahre Rennen</div><div class="formular_radio-wrapper"><label class="fs-radio_field-4 w-radio"><div class="w-form-formradioinput w-form-formradioinput--inputType-custom fs-radio_button-4 w-radio-input"></div><input type="radio" name="Rennen-fahren" id="Ja" data-name="Rennen fahren" style="opacity:0;position:absolute;z-index:-1" value="Ja">
<span fs-cmsfilter-active="is-active" fs-cmsfilter-field="category" class="fs-radio_label-4 w-form-label" for="Ja">Ja</span></label><label class="fs-radio_field-4 is-second w-radio"><div class="w-form-formradioinput w-form-formradioinput--inputType-custom fs-radio_button-4 w-radio-input w--redirected-checked"></div><input type="radio" name="Rennen-fahren" id="Nein" data-name="Rennen fahren" style="opacity:0;position:absolute;z-index:-1" checked="" value="Nein">
<span fs-cmsfilter-active="is-active" fs-cmsfilter-field="category" class="fs-radio_label-4 w-form-label" for="Nein">Nein</span></label></div></div></div></div><div class="formular_row"><h2 class="heading-style-h4">Fahrer</h2><div class="formular_split"><div id="w-node-_5d57e6ba-40c6-1238-e487-b2607aa85600-2048041f" class="form-group"><input class="form-input w-input" maxlength="256" name="Fahrergewicht-2" data-name="Fahrergewicht 2" placeholder=" " type="text" id="Fahrergewicht-2" required="">
<label for="name" class="form-label">Fahrerergewicht*</label></div><div id="w-node-_5d57e6ba-40c6-1238-e487-b2607aa85604-2048041f" class="form-group"><input class="form-input w-input" maxlength="256" name="Modell-2" data-name="Modell 2" placeholder=" " type="text" id="Modell-2" required="">
<label for="name" class="form-label">Modell*</label></div><div id="w-node-_5d57e6ba-40c6-1238-e487-b2607aa85608-2048041f" class="form-group"><input class="form-input w-input" maxlength="256" name="Baujahr-2" data-name="Baujahr 2" placeholder=" " type="text" id="Baujahr-2" required="">
<label for="name" class="form-label">Baujahr*</label></div><div id="w-node-_5d57e6ba-40c6-1238-e487-b2607aa8560c-2048041f" class="form-group"><input class="form-input w-input" maxlength="256" name="Federweg-hinten-2" data-name="Federweg Hinten 2" placeholder=" " type="text" id="Federweg-hinten-2" required="">
<label for="name" class="form-label">Federweg hinten*</label></div><div id="w-node-_5d57e6ba-40c6-1238-e487-b2607aa85610-2048041f" class="form-group"><input class="form-input w-input" maxlength="256" name="Federweg-vorne-2" data-name="Federweg Vorne 2" placeholder=" " type="text" id="Federweg-vorne-2" required="">
<label for="name" class="form-label">Federweg vorne*</label></div></div></div><div class="formular_row"><h2 class="heading-style-h4">Einsatzgebiet</h2><div class="formular_split with-line"><label id="w-node-_5d57e6ba-40c6-1238-e487-b2607aa85618-2048041f" class="w-checkbox checkbox-field"><div class="w-checkbox-input w-checkbox-input--inputType-custom formular_checkbox"></div><input type="checkbox" name="Einsatzgebiet-Alltag-2" id="Einsatzgebiet-Alltag-2" data-name="Einsatzgebiet Alltag 2" style="opacity:0;position:absolute;z-index:-1">
<span class="checkbox-label w-form-label" for="Einsatzgebiet-Alltag-2">Alltag</span></label><label id="w-node-_5d57e6ba-40c6-1238-e487-b2607aa8561c-2048041f" class="w-checkbox checkbox-field"><div class="w-checkbox-input w-checkbox-input--inputType-custom formular_checkbox"></div><input type="checkbox" name="Einsatzgebiet-Enduro-2" id="Einsatzgebiet-Enduro-2" data-name="Einsatzgebiet Enduro 2" style="opacity:0;position:absolute;z-index:-1">
<span class="checkbox-label w-form-label" for="Einsatzgebiet-Enduro-2">Enduro</span></label><label id="w-node-_5d57e6ba-40c6-1238-e487-b2607aa85620-2048041f" class="w-checkbox checkbox-field"><div class="w-checkbox-input w-checkbox-input--inputType-custom formular_checkbox"></div><input type="checkbox" name="Einsatzgebiet-Tour-2" id="Einsatzgebiet-Tour-2" data-name="Einsatzgebiet Tour 2" style="opacity:0;position:absolute;z-index:-1">
<span class="checkbox-label w-form-label" for="Einsatzgebiet-Tour-2">Tour</span></label><label id="w-node-_5d57e6ba-40c6-1238-e487-b2607aa85624-2048041f" class="w-checkbox checkbox-field"><div class="w-checkbox-input w-checkbox-input--inputType-custom formular_checkbox"></div><input type="checkbox" name="Einsatzgebiet-Downhill-2" id="Einsatzgebiet-Downhill-2" data-name="Einsatzgebiet Downhill 2" style="opacity:0;position:absolute;z-index:-1">
<span class="checkbox-label w-form-label" for="Einsatzgebiet-Downhill-2">Downhill</span></label><label id="w-node-_5d57e6ba-40c6-1238-e487-b2607aa85628-2048041f" class="w-checkbox checkbox-field"><div class="w-checkbox-input w-checkbox-input--inputType-custom formular_checkbox"></div><input type="checkbox" name="Einsatzgebiet-Cross-Country-2" id="Einsatzgebiet-Cross-Country-2" data-name="Einsatzgebiet Cross Country 2" style="opacity:0;position:absolute;z-index:-1">
<span class="checkbox-label w-form-label" for="Einsatzgebiet-Cross-Country-2">Cross Country</span></label></div><div id="w-node-_5d57e6ba-40c6-1238-e487-b2607aa8562c-2048041f" class="form-group"><input class="form-input w-input" maxlength="256" name="Sonstige-Einsatzgebiete-2" data-name="Sonstige Einsatzgebiete 2" placeholder=" " type="text" id="Sonstige-Einsatzgebiete-2">
<label for="name" class="form-label">Sonstige Einsatzgebiete*</label></div><div id="w-node-_5d57e6ba-40c6-1238-e487-b2607aa85630-2048041f" class="form-group is-area"><textarea id="Weitere-Informationen-2" name="Weitere-Informationen-2" maxlength="5000" data-name="Weitere Informationen 2" placeholder="" class="form-text-area w-input"></textarea><label for="field" class="form-label-area">Defektbeschreibung/Reparaturbedarf/Optimierungswünsche</label></div></div><input type="submit" data-wait="Bitte warten..." class="button w-button" value="Absenden und Checkout">
</div><div id="w-node-_5d57e6ba-40c6-1238-e487-b2607aa85635-2048041f" class="formular_right"><div class="formular_row"><h2 class="heading-style-h4">Zusammenfassung</h2><ul role="list" class="mini-cart_line-item_list w-list-unstyled"><template x-for="product in products" :key="product.key">
    <li li-element="mini-cart-item" class="mini-cart_line-item_item"><img li-object:src="item.image |  img_url: 'small'" loading="lazy" alt="" src="{{ item.image |  img_url: 'small' }}" class="mini-cart_line-item_img">
<div class="mini-cart_line-item_product-info"><div class="mini-cart_line-item_top"><div class="mini-cart_product-info"><div li-object="item.title" class="text-size-medium text-weight-semibold text-style-allcaps">{{ item.title }}</div><div li-for:inside="name in item.options_with_values" class="mini-cart_line-item_values">
        {% for name in item.options_with_values %}                            <div li-object="name">{{ name }}</div>
                    {% endfor %}    </div>
</div><div class="mini-cart_line-item_price"><div li-object="item.final_line_price | money" class="text-size-medium text-weight-semibold text-style-allcaps">{{ item.final_line_price | money }}</div><template x-if="product.price < product.original_price">
            <div li-js-if="product.price < product.original_price">
        <div li-object="item.original_line_price | money" class="text-size-small text-style-strikethrough text-style-muted">{{ item.original_line_price | money }}</div>        </div>
    </template>
</div></div><div class="mini-cart_line-item_bottom"><div><div class="mini-cart_line-item_quantity"><input name="updates[]" class="mini-cart_line-item_quantity-adjust" value="item.quantity">
</div></div><a li-object:href="item.url_to_remove" href="{{ item.url_to_remove }}" class="w-inline-block"><div class="mini-cart_line-item_remove-icon w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_7404_5310" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="26" height="26"><rect width="26" height="26" fill="currentColor"></rect></mask><g mask="url(#mask0_7404_5310)"><path d="M7.57813 22.75C6.98229 22.75 6.47222 22.5378 6.04792 22.1135C5.62361 21.6892 5.41146 21.1792 5.41146 20.5833V6.5H4.32812V4.33333H9.74479V3.25H16.2448V4.33333H21.6615V6.5H20.5781V20.5833C20.5781 21.1792 20.366 21.6892 19.9417 22.1135C19.5174 22.5378 19.0073 22.75 18.4115 22.75H7.57813ZM18.4115 6.5H7.57813V20.5833H18.4115V6.5ZM9.74479 18.4167H11.9115V8.66667H9.74479V18.4167ZM14.0781 18.4167H16.2448V8.66667H14.0781V18.4167Z" fill="currentColor"></path></g></svg></div></a></div></div></li></template>
</ul></div><div class="formular_total"><div class="mini-cart_footer-total is-top"><div class="text-size-regular">Gesamtkosten</div><div class="mini-cart_footer-price"><div li-js-price="total.price" class="text-size-regular text-weight-bold" x-text="LiquifyHelper.moneyFormat(total.price, true, '{{ shop.money_with_currency_format }}')">14,99 $</div><template x-if="total.price < original_total_price">
            <div li-js-if="total.price < original_total_price" class="mini-cart_conditional">
        <div li-js-price="original_total_price" class="text-size-regular text-weight-bold text-style-strikethrough text-style-muted" x-text="LiquifyHelper.moneyFormat(original_total_price, true, '{{ shop.money_with_currency_format }}')">14,99 $</div>        </div>
    </template>
</div></div><div class="mini-cart_footer-total"><div class="text-size-regular">Versandkosten</div><div class="mini-cart_footer-price"><div class="text-size-regular text-weight-bold">Kostenlos</div></div></div></div><input type="submit" data-wait="Please wait..." class="button is-outline w-button" value="Update cart">
</div></div></form><div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div></div><div class="formular_white-bg"></div>    </div>
{% endif %} {% schema %} {"tag":"section","name":"Form","class":"section_formular","blocks":[{"name":"Headline","type":"headline","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Fahrer"}]},{"name":"Input Text","type":"input-text","settings":[{"id":"text_input_lable","type":"text","label":"Input Lable","default":"Fahrerergewicht*"},{"id":"text_beschreibung","type":"text","label":"Beschreibung","default":"*Fahrergewicht inkl. Ausr\u00fcstung (kg)"}]},{"name":"Input Radio","type":"input-radio","settings":[{"id":"text_titel","type":"text","label":"Titel","default":"Ich fahre Rennen"},{"id":"text_lable_1","type":"text","label":"Lable 1","default":"Ja"},{"id":"text_lable_2","type":"text","label":"Lable 2","default":"Nein"},{"id":"text_beschreibung","type":"text","label":"Beschreibung","default":"*Fahrergewicht inkl. Ausr\u00fcstung (kg)"}]},{"name":"Input Checkbox ","type":"input-checkbox","settings":[{"id":"text_checkbox_lable","type":"text","label":"Checkbox Lable","default":"Alltag"}]},{"name":"Input Medium Text","type":"input-medium-text","settings":[{"id":"text_input_lable","type":"text","label":"Input Lable","default":"Sonstige Einsatzgebiete*"}]},{"name":"Input Big Text","type":"input-big-text","settings":[{"id":"text_input_lable","type":"text","label":"Input Lable","default":"Defektbeschreibung\/Reparaturbedarf\/Optimierungsw\u00fcnsche"}]},{"name":"Spacer","type":"spacer","settings":null},{"name":"Trennlinie","type":"trennlinie","settings":null}],"presets":[{"name":"Form","category":"Liquify","blocks":[{"type":"headline"},{"type":"input-text"},{"type":"input-radio"},{"type":"input-checkbox"},{"type":"input-medium-text"},{"type":"input-big-text"},{"type":"spacer"},{"type":"trennlinie"}]}]} {% endschema %}