<div class="padding-global padding-section-small"><div class="container-large"><div class="choose_main_slide"><div class="choose_main_top-wrapper"><a href="#" class="choose_main_back w-inline-block"><div class="icon-1x1-centered-small w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.52901 11.7998L5.72435 7.9951L9.52901 4.19043L10.4717 5.1331L7.60968 7.9951L10.4717 10.8571L9.52901 11.7998Z" fill="currentColor"></path></svg></div><div class="text-weight-medium text-size-small">Zurück</div></a><h2 class="heading-style-h3">
{{ section.settings.text_headline }}
</h2>
</div><div class="choose_main_logos">{% for collection in section.settings.collection_list %}    <div li-for="collection in section.settings.collection_list" id="w-node-_04eb8b1e-16f5-1b2b-ab38-95ea9eab5d16-7ebbd47e" class="choose_main_logo">
                                    <img src="{{ collection.custom.metafields.logo }}" loading="lazy" li-object:src="collection.custom.metafields.logo" alt="" class="choose_main_logo-img">

                            <div class="choose_main_logo-overlay"><div class="choose_main_logo-top"><h3 li-object="collection.title" class="heading-style-h4">{{ collection.title }}</h3><p>
{{ section.settings.text_logo_text }}
</p>
</div><a li-object:href="collection.url" href="{{ collection.url }}" class="button is-secondary-white max-width-full w-button">Bauteil auswählen</a></div>
                        </div>
{% endfor %}</div></div></div></div><div class="li-custom w-embed"></div>
 {% schema %} {"tag":"section","name":"Funnel - Marken","class":"section_choose_main","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Welche Marke ben\u00f6tigen sie?"},{"id":"text_logo_text","type":"text","label":"Logo Text","default":"W\u00e4hle im n\u00e4chsten Schritt dein Bauteil aus."},{"type":"collection_list","id":"collection_list","label":"Marken"}],"presets":[{"name":"Funnel - Marken","category":"Liquify","blocks":[]}]} {% endschema %}