<div class="padding-global"><div class="container-large"><div class="w-embed"><style>.home_select_right {
    clip-path: polygon(12.5% 0, 100% 0, 82.5% 100%, 0% 100%);
  }
  
  
.home_select_item {
    clip-path: polygon(0 0, 100% 0, 82.5% 100%, 0% 100%);
  }
</style></div><div class="home_select_component">{% for block in section.blocks %}
    {% if block.type == "select-block" %}
                    <div li-block="Select Block" id="w-node-fb407073-9f55-56ec-06c6-91dae47e497d-e47e4978" class="home_select_item-wrapper">
                                    <img loading="lazy" alt="{{ block.settings.image_bild.alt }}" src="{{ block.settings.image_bild | img_url: 'master' }}" class="home_select_img">

                                    <div id="w-node-fb407073-9f55-56ec-06c6-91dae47e497f-e47e4978" class="home_select_item"><div id="w-node-fb407073-9f55-56ec-06c6-91dae47e4980-e47e4978" class="home_select_left"><div class="home_select_content"><h2 class="heading-style-thick">
{{ block.settings.text_headline }}
</h2>
<p>
{{ block.settings.text_text }}
</p>
</div></div><div class="home_select_right"></div></div>
                            </div>
            {% endif %}
{% endfor %}
</div></div></div><img src="{{ 'detail.png' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '6732f3a8922a8f18cff99b70_detail-p-500.png' | asset_url }} 500w, {{ '6732f3a8922a8f18cff99b70_detail-p-800.png' | asset_url }} 800w, {{ '6732f3a8922a8f18cff99b70_detail-p-1080.png' | asset_url }} 1080w, {{ '6732f3a8922a8f18cff99b70_detail-p-1600.png' | asset_url }} 1600w, {{ '6732f3a8922a8f18cff99b70_detail-p-2000.png' | asset_url }} 2000w, {{ '6732f3a8922a8f18cff99b70_detail-p-2600.png' | asset_url }} 2600w, {{ '6732f3a8922a8f18cff99b70_detail-p-3200.png' | asset_url }} 3200w, {{ 'detail.png' | asset_url }} 5760w" alt="" class="home_select_overlay">
 {% schema %} {"tag":"section","name":"Home Select","class":"section_home_select","blocks":[{"name":"Select Block","type":"select-block","settings":[{"id":"image_bild","type":"image_picker","label":"Bild"},{"id":"text_headline","type":"text","label":"Headline","default":"MTB"},{"id":"text_text","type":"text","label":"Text","default":"Lorem ipsum dolor sit amet."}]}],"presets":[{"name":"Home Select","category":"Liquify","blocks":[{"type":"select-block"}]}]} {% endschema %}