{% if predictive_search.performed %}    <div li-if="predictive_search.performed">
    {% assign first_column_results_size = predictive_search.resources.queries.size | plus: predictive_search.resources.collections.size | plus: predictive_search.resources.pages.size | plus: predictive_search.resources.articles.size | plus: predictive_search.resources.products.size %}
{% if first_column_results_size > 0 %}    <div li-if="first_column_results_size > 0">
    {% if predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0 %}    <div li-if="predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0" class="predictive-search_topic">
    <div class="predictive-search_headline"><div class="text-style-muted">Vorschläge</div></div><ul role="list" class="predictive-search_list w-list-unstyled">{% for query in predictive_search.resources.queries %}    <li li-for="query in predictive_search.resources.queries" class="predictive-search_item">
                                    
                            <a x-bind:href="{{ query.url }}" href="#" class="predictive-search_link w-inline-block"><div li-object="query.styled_text">{{ query.styled_text }}</div></a>
                            
                        </li>
{% endfor %}{% for collection in predictive_search.resources.collections %}    <li li-for="collection in predictive_search.resources.collections" class="predictive-search_item">
                                    
                            <a x-bind:href="'{{ collection.url }}'" href="#" class="predictive-search_link w-inline-block"><div li-object="collection.title">{{ collection.title }}</div></a>
                            
                        </li>
{% endfor %}</ul>    </div>
{% endif %}{% if predictive_search.resources.products.size > 0 or predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 %}    <div li-if="predictive_search.resources.products.size > 0 or predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0" class="predictive-search_topic">
    <div class="predictive-search_headline"><div class="text-style-muted">Produkte</div></div><ul role="list" class="predictive-search_product-list w-list-unstyled">{% for product in predictive_search.resources.products %}    <li li-for="product in predictive_search.resources.products" class="predictive-search_produt-item">
                                    
                            <a x-bind:href="'{{ product.url }}'" href="#" class="predictive-search_line-item w-inline-block"><div class="predictive-search_image-wrapper"><img li-object:src="product.featured_media | image_url: width: 150" li-object:alt="product.featured_image.alt" src="{{ product.featured_media | image_url: width: 150 }}" loading="lazy" alt="{{ product.featured_image.alt }}" class="predictive-search_image">
</div><div class="predictive-search_product-info"><div class="text-size-regular text-weight-bold"><span li-object="product.title">{{ product.title }}</span></div><div class="text-size-small"><span li-object="product.price | money">{{ product.price | money }}</span></div></div></a>
                            
                        </li>
{% endfor %}</ul>    </div>
{% endif %}{% if predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 %}    <div li-if="predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0" class="predictive-search_topic">
    <div class="predictive-search_headline"><div class="text-style-muted">Seiten</div></div><ul role="list" class="predictive-search_list w-list-unstyled">{% for page in predictive_search.resources.pages %}    <li li-for="page in predictive_search.resources.pages" class="predictive-search_item">
                                    
                            <a x-bind:href="'{{ page.url }}'" href="#" class="predictive-search_link w-inline-block"><div li-object="page.title">{{ page.title }}</div></a>
                            
                        </li>
{% endfor %}</ul>    </div>
{% endif %}    </div>
{% endif %}{% if first_column_results_size == 0 %}    <div li-if="first_column_results_size == 0">
    <div class="predictive-search_topic"><div class="text-style-muted">Keine Ergebnisse zu "<span li-object="predictive_search.terms">{{ predictive_search.terms }}</span>"</div></div>    </div>
{% endif %}    </div>
{% endif %} {% schema %} {"tag":"div","name":"predictive-search","presets":[{"name":"predictive-search","category":"Liquify","blocks":[]}]} {% endschema %}