<div class="padding-global padding-section-medium"><div class="container-large"><div class="split_component"><div id="w-node-_3cea6bb1-90e7-7860-ed2d-429b70d705d5-3901e3ec" class="split-2_image-wrapper"><img src="{{ section.settings.image_bild | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_bild.alt }}" class="split-2_image">
</div><div id="w-node-_3cea6bb1-90e7-7860-ed2d-429b70d705d3-3901e3ec" class="split_content"><div class="heading-block"><div class="subheading text-color-red">
{{ section.settings.text_subheading }}
</div>
<h2 class="heading-style-h2">
{{ section.settings.text_heading }}
</h2>
<p>
{{ section.settings.text_text }}
</p>
<div><div class="button-group">{% if section.settings.text_button_text %}    <div li-if="section.settings.text_button_text">
    <a href="{{ section.settings.url_button_link }}" class="button w-button"> {{ section.settings.text_button_text }} </a>
    </div>
{% endif %}{% if section.settings.text_button_text_2 %}    <div li-if="section.settings.text_button_text_2">
    <a href="{{ section.settings.url_button_link_2 }}" class="button is-secondary w-button"> {{ section.settings.text_button_text_2 }} </a>
    </div>
{% endif %}</div></div></div></div></div></div></div> {% schema %} {"tag":"section","name":"Split 2","class":"section_split-2","settings":[{"id":"image_bild","type":"image_picker","label":"Bild"},{"id":"text_subheading","type":"text","label":"Subheading","default":"\/\/ wir sind Rebound racing"},{"id":"text_heading","type":"text","label":"Heading","default":"Unsere hochwertigen Produkte"},{"id":"text_text","type":"text","label":"Text","default":"Wir sind deine Experten f\u00fcr Federelemente. Professioneller Service f\u00fcr alle Federgabel- &amp; D\u00e4mpfermarken. Kompetente Beratung, einfache Abwicklung, schnelle Bearbeitung. In unserer Service &amp; Tuning Anfrage kannst du Leistungen individuell kombinieren. Ohne Termin, sofort los!"},{"id":"url_button_link","type":"url","label":"Button-Link"},{"id":"text_button_text","type":"text","label":"Button-Text","default":"Service anfragen"},{"id":"url_button_link_2","type":"url","label":"Button-Link 2"},{"id":"text_button_text_2","type":"text","label":"Button-Text 2","default":"Service anfragen"}],"presets":[{"name":"Split 2","category":"Liquify","blocks":[]}]} {% endschema %}