<div class="padding-global padding-section-medium"><div class="container-large"><div class="split_component"><div id="w-node-b3244b6c-0817-4f70-54bd-14e0720cf0ac-2048043e" class="split-2_image-wrapper"><img src="{{ section.settings.image_bild | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_bild.alt }}" class="split-2_image">
</div><div id="w-node-b3244b6c-0817-4f70-54bd-14e0720cf0ae-2048043e" class="split_content"><div class="heading-block"><div class="subheading text-color-red">
{{ section.settings.text_subheading }}
</div>
<h2 class="heading-style-h2">
{{ section.settings.text_heading }}
</h2>
<p>
{{ section.settings.text_text }}
</p>
<div><div class="button-group">{% if section.settings.text_button_text %}    <div li-if="section.settings.text_button_text">
    <a href="{{ section.settings.url_button_link }}" class="button w-button"> {{ section.settings.text_button_text }} </a>
    </div>
{% endif %}{% if section.settings.text_button_text_2 %}    <div li-if="section.settings.text_button_text_2">
    <a href="{{ section.settings.url_button_link_2 }}" class="button is-secondary w-button"> {{ section.settings.text_button_text_2 }} </a>
    </div>
{% endif %}</div></div></div><div class="checks">{% for block in section.blocks %}
    {% if block.type == "check" %}
                    <div li-block="check" class="check">
                                    <div class="checks-icon w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 2.75024C10.0716 2.75024 8.18657 3.32207 6.58319 4.39342C4.97982 5.46476 3.73013 6.9875 2.99218 8.76908C2.25422 10.5507 2.06114 12.5111 2.43735 14.4024C2.81355 16.2937 3.74215 18.031 5.10571 19.3945C6.46928 20.7581 8.20656 21.6867 10.0979 22.0629C11.9892 22.4391 13.9496 22.246 15.7312 21.5081C17.5127 20.7701 19.0355 19.5204 20.1068 17.9171C21.1782 16.3137 21.75 14.4286 21.75 12.5002C21.7473 9.91522 20.7192 7.43686 18.8913 5.60897C17.0634 3.78108 14.585 2.75297 12 2.75024ZM16.2806 10.7809L11.0306 16.0309C10.961 16.1006 10.8783 16.1559 10.7872 16.1937C10.6962 16.2314 10.5986 16.2508 10.5 16.2508C10.4014 16.2508 10.3038 16.2314 10.2128 16.1937C10.1218 16.1559 10.039 16.1006 9.96938 16.0309L7.71938 13.7809C7.57865 13.6401 7.49959 13.4493 7.49959 13.2502C7.49959 13.0512 7.57865 12.8603 7.71938 12.7196C7.86011 12.5789 8.05098 12.4998 8.25 12.4998C8.44903 12.4998 8.6399 12.5789 8.78063 12.7196L10.5 14.4399L15.2194 9.71962C15.2891 9.64994 15.3718 9.59466 15.4628 9.55695C15.5539 9.51924 15.6515 9.49983 15.75 9.49983C15.8486 9.49983 15.9461 9.51924 16.0372 9.55695C16.1282 9.59466 16.2109 9.64994 16.2806 9.71962C16.3503 9.7893 16.4056 9.87203 16.4433 9.96307C16.481 10.0541 16.5004 10.1517 16.5004 10.2502C16.5004 10.3488 16.481 10.4464 16.4433 10.5374C16.4056 10.6285 16.3503 10.7112 16.2806 10.7809Z" fill="currentColor"></path></svg></div>
                                    <p>Verbessern Sie die Leistung Ihres Fahrrads mit unseren Federgabeln</p>
                            </div>
            {% endif %}
{% endfor %}
</div></div></div></div></div> {% schema %} {"tag":"section","name":"Split Product","class":"section_split-2","blocks":[{"name":"check","type":"check","settings":null}],"settings":[{"id":"image_bild","type":"image_picker","label":"Bild"},{"id":"text_subheading","type":"text","label":"Subheading","default":"\/\/ wir sind Rebound racing"},{"id":"text_heading","type":"text","label":"Heading","default":"Unsere hochwertigen Produkte"},{"id":"text_text","type":"text","label":"Text","default":"Wir sind deine Experten f\u00fcr Federelemente. Professioneller Service f\u00fcr alle Federgabel- &amp; D\u00e4mpfermarken. Kompetente Beratung, einfache Abwicklung, schnelle Bearbeitung. In unserer Service &amp; Tuning Anfrage kannst du Leistungen individuell kombinieren. Ohne Termin, sofort los!"},{"id":"url_button_link","type":"url","label":"Button-Link"},{"id":"text_button_text","type":"text","label":"Button-Text","default":"Service anfragen"},{"id":"url_button_link_2","type":"url","label":"Button-Link 2"},{"id":"text_button_text_2","type":"text","label":"Button-Text 2","default":"Service anfragen"}],"presets":[{"name":"Split Product","category":"Liquify","blocks":[{"type":"check"}]}]} {% endschema %}